@import 'base/base';
@import './mixin.scss';

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(./font/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(./font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(./font/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(./font/Montserrat-Medium.ttf);
}

body {
    width: 1440px;
    height: 100%;
}

.head {
    width: 1440px;
    height: 700px;
    margin-top: 500px;
    background: url(../img/Bitmap.png) no-repeat;

    &_block {
        width: 70%;
        height: 500px;
        margin-top: 42px;
        margin-left: 250px;
    }

    &_dream {
        width: 200px;
        margin-top: -499px;
        margin-left: 1px;
    }

    &_dream1 {
        padding-top: 45px;
        margin-left: -3px;
        @include fonts;
        font-size: 20px;
        color: white;
    }

    &_log {
        width: 90px;
        height: 36px;
        margin-top: -30px;
        margin-left: 808px;
        border: 2px solid white;
        border-radius: 45px;
        background-color: rgba(240, 244, 247, 0);
        display: block;
        color: white;
        font-family: 'Montserrat-Regular';
        font-weight: 400;
        letter-spacing: -1.2px;
        line-height: 35px;
    }

    &_log1 {
        width: 75px;
        margin-top: -32px;
        margin-left: 745px;
    }

    &_log2 {
        color: white;
        @include fonts1;
        letter-spacing: 0;
    }

    &_logo {
        width: 50.8%;
        margin-top: 149px;
        margin-left: 213px;
        color: white;
        text-align: center;
    }

    &_logo1 {
        letter-spacing: -0.2px;
        @include fonts;

        font: {
            size: 52px;
        }
    }


    &_info {
        width: 400px;
        @include robo;


        color: white;
        margin-top: 21px;
        margin-left: 272px;
    }

    &_find {
        width: 225px;
        height: 40px;
        background-color: #FF4E50;
        border-radius: 40px;
        border: 0;
        color: white;
        @include fonts2;
        margin-top: 31px;
        margin-left: 358px;
        text-align: center;
        letter-spacing: 0.3px;
    }
}

aside {
    width: 1440px;

    .side {

        &_how1 {
            margin-top: 90px;
            margin-left: 0;
            text-align: center;
            letter-spacing: -0.3px;
            @include fonts;

        }

        &_img1-1 {
            display: none;
        }

        &_img1_2 {
            display: none;
        }

        &_img2-1 {
            display: none;
        }

        &_img2_2 {
            display: none;
        }

        &_img3-1 {
            display: none;
        }

        &_img3-2 {
            display: none;
        }
        &_img {
            margin-top: 34px;
            margin-left: 250px;
            display: flex;
        }

        &_img-1 {
            margin-top: 0;
            margin-right: 20px;
        }

        &_img2 {
            height: 400px;
            margin-top: 0;
        }

        &_img3 {
            height: 400px;
            margin-left: 20px;
        }

    }

    .side1 {
        width: 720px;
        margin-top: 2px;
        margin-left: 330px;

        p {
            margin-top: 87px;
            margin-left: 145px;
            letter-spacing: -0.2px;
            @include fonts
        }

        &_foto {
            width: 121px;
            height: 119px;
            border-radius: 50%;
            background: url(../img/Bitmap1.png);
            margin-top: 30px;
            margin-left: -29px;
        }

        &_music1 {
            width: 38px;
            height: 38px;
            border: 3px solid white;
            border-radius: 50%;
            background: #FF4E50;
            margin-top: -34px;
            margin-left: 57px;
        }

        &_music {
            margin-bottom: -1px;
            margin-left: 7px;
            background: url(../img/music2.png);
        }

        &_name {
            margin-top: 100px;
            margin-left: 150px;
        }

        &_info {
            width: 221px;
            margin-top: 45px;
            margin-left: -83px;
        }

        &_info1 {
            display: block;
            margin-top: -28px;
            margin-left: 57px;
            @include fonts;

            font: {
                size: 14px;
            }
        }

        &_info2 {
            display: block;
            width: 220px;
            margin-top: 22px;
            margin-left: 4px;
            text-align: center;
            line-height: 14px;
            @include robo;

            font: {
                size: 14px;
            }
        }

        &_foto1 {
            width: 121px;
            height: 119px;
            border-radius: 50%;
            background: url(../img/Avatar.png);
            margin-top: -214px;
            margin-left: 211px;
        }

        &_avatar_1 {
            width: 38px;
            height: 38px;
            border: 3px solid white;
            border-radius: 50%;
            background: #19D4CA;
            margin-top: -34px;
            margin-left: 295px;
        }

        &_shape_11 {
            margin-bottom: -4px;
            margin-left: 8px;
            // background: url(../img/Shape.png);
        }

        &_name {
            margin-top: 100px;
            margin-left: 150px;
        }

        &_info_1 {
            width: 221px;
            margin-top: 45px;
            margin-left: 160px;
        }

        &_info1_1 {
            display: block;
            margin-top: -29px;
            margin-left: 58px;
            letter-spacing: -0.1px;
            @include fonts;

            font: {
                size: 14px;
            }
        }

        &_info2_1 {
            display: block;
            width: 220px;
            margin-top: 21px;
            margin-left: 1px;
            text-align: center;
            line-height: 14px;
            @include robo;

            font: {
                size: 14px;
            }
        }

        &_foto2 {
            width: 121px;
            height: 119px;
            border-radius: 50%;
            // background: url(../img/Avatar.png);
            margin-top: -304px;
            margin-left: 211px;
        }

        &_avatar_2 {
            border-radius: 50%;
            margin-top: -29px;
            margin-left: 442px;
        }


        &_info_1 {
            width: 221px;
            margin-top: 45px;
            margin-left: 160px;
        }

        &_info3_1 {
            display: block;
            width: 150px;
            margin-top: -21px;
            margin-left: 307px;
            letter-spacing: -0.1px;
            @include fonts;

            font: {
                size: 14px;
            }
        }

        &_info4_1 {
            display: block;
            width: 220px;
            margin-top: 26px;
            margin-left: 245px;
            text-align: center;
            line-height: 14px;
            @include robo;

            font: {
                size: 14px;
            }
        }

        &_avatar3_1 {
            width: 121px;
            height: 119px;
            margin-top: -374px;
            margin-left: 690px;
        }

        &_info_2 {
            width: 221px;
            margin-top: -118px;
            margin-left: 374px;
        }

        &_info5_1 {
            display: block;
            width: 150px;
            margin-top: -21px;
            margin-left: 307px;
            letter-spacing: -0.1px;
            @include fonts;

            font: {
                size: 14px;
            }
        }

        &_info6_1 {
            display: block;
            width: 220px;
            margin-top: 28px;
            margin-left: 266px;
            text-align: center;
            line-height: 14px;
            @include robo;

            font: {
                size: 14px;
            }
        }

        &_see1 {
            width: 180px;
            height: 40px;
            border-radius: 40px;
            border: 2px solid #FF4E50;
            margin-top: 19px;
            margin-left: 300px;
            padding-left: 5px;
        }

        a {
            color: #FF4E50;
            letter-spacing: 0.2px;
        }
    }

    .container {
        margin-top: 117px;
        margin-left: 126px;

        .discover {
            margin-top: -26px;
            margin-left: 47px;
            text-align: center;
            letter-spacing: -0.3px;
            @include fonts;

            font: {
                size: 26px;
            }
        }

        .row {
            width: 1009px;
            margin-top: 35px;
            margin-left: 60px;
        }

        .sport1, .sport2 {
            display: none;
        }

        .extreme1, .extreme2 {
            display: none;
        }

        .heal1, .heal2 {
            display: none;
        }

        .games1, .games2 {
            display: none;
        }

        .culture1, .culture2 {
            display: none;
        }

        .cc1, .cc2 {
            display: none;
        }
        
        .gc1 {
            display: none;
        }

        .gc2 {
            display: none;
        }

        .col-xl-4 {
            margin-left: 4px;
        }

        .col-xl-4-left {
            margin-left: 50px;
        }

        .row.centr {
            margin-top: 20px;
            margin-left: 110px;

            .col-xl-8 {
                margin-left: 4px;
            }
        }

        .row.end {
            margin-top: 20px;
            margin-left: 109px;

            .col-xl-4-2 {
                margin-left: 19px;
            }
        }
    }

    .info_1 {
        text-align: center;

        &_creat {
            margin-top: 90px;
            margin-left: 1px;
            letter-spacing: -0.3px;
            @include fonts;
        }

        &_hi {
            margin-top: 50px;
            margin-left: 2px;
            @include robo;

            font: {
                size: 18px;
            }
        }

        input {
            width: 299px;
            height: 40px;
            margin-top: 12px;
            margin-left: -185px;
            border: 1px solid #D4D4D4;
            border-radius: 3px;
            padding-top: 3px;
            padding-left: 13px;
            letter-spacing: -0.9px;
            align-items: flex-end;
        }


        &_search1 {
            width: 172px;
            height: 40px;
            margin-top: -2.8%;
            margin-left: 54.65%;
            border-radius: 40px;
            background: #FF4E50;
            border: 0;
            display: block;
            padding-top: 0;
            letter-spacing: 0.5px;
        }

        &_search2 {
            color: #ffffff;
            letter-spacing: 0.5px;
            margin-left: 5px;
            @include fonts1;
        }

    }

    hr {
        margin-top: 99px;
        border: 1px solid #FF4E50;
    }

}

footer {
    .footer_dreamshare {
        margin-top: 24px;
        margin-left: 250px;
        color: #FF4E50;
        float: left;
    }

    ul {
        width: 130px;
        display: block;
        float: left;
        margin-top: 18px;
        margin-left: 124px;
        list-style: none;
        line-height: 26.5px;
        padding-top: 5px;

        .footer_com {
            margin-top: -4px;
            margin-left: -1px;
            letter-spacing: -0.1px;
            padding-bottom: 4px;
            color: #444444;
            @include fonts;

            font: {
                size: 14px;
            }
        }

        font: {
            family: 'Roboto-Light';
            weight: 300;
            style: normal;
            size: 14px;
        }

        a {
            color: #999999;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                color: #585555;
            }
        }
    }

    .par {
        width: 75px;
        height: 20px;
        margin-top: 24px;
        margin-left: 108px;
        display: block;
        float: left;
        @include fonts;

        font: {
            size: 14px;
        }
    }

    .areto {
        width: 130px;
        height: 60px;
        margin-top: 22px;
        margin-left: 265px;
        float: left;
        text-align: center;

        h2 {
            margin-left: 35px;
            letter-spacing: 0.9px;
            color: #cccccc;
            @include fonts;

            font: {
                size: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    body {
        width: 768px;
    }

    .head {
        width: 98%;
        background: url(../img/Headaer.png);
    }

    .head_block {
        width: 89%;
        margin-left: 50px;
    }

    .head_log {
        margin-top: -31px;
        margin-left: 577px;
    }

    .head_log1 {
        margin-top: -31px;
        margin-left: 514px;
    }

    .head_logo {
        width: 70.8%;
        margin-top: 149px;
        margin-left: 92px;
    }

    .head_logo1 {
        width: 482px;
        margin-top: 0;
        margin-left: 2px;
    }

    .head_info {
        margin-top: 23px;
        margin-left: 136px;
    }

    .head_find {
        margin-top: 29px;
        margin-left: 223px;
    }


    aside {
        width: 768px;

        .side {
            width: 90%;

            &_how1 {
                margin-top: 94px;
                margin-left: 77px;
                font-size: 22px;
            }
        }

        .side_img {
            width: 690px;
            height: 400px;
            margin-left: 10px;
        }

        .side_img-1 {
            display: none;
        }

        .side_img1-1 {
            display: block;
        }

        .side_img2 {
            display: none;
        }

        .side_img2-1 {
            display: block;
            margin-left: 20px;
        }

        .side_img3 {
            display: none;
        }

        .side_img3-1 {
            display: block;
            margin-left: 20px;
        }

        .side1 {

            width: 95%;
            height: 610px;
            margin-left: 5px;

            p {
                margin-top: 91px;
                margin-left: 171px;
                font-size: 22px;
            }

            &_foto {
                margin-top: 32px;
                margin-left: 190px;
            }

            &_music1 {
                margin-top: -33px;
                margin-left: 277px;
            }

            &_info {
                margin-top: 44px;
                margin-left: 137px;
            }

            &_info2 {
                width: 236px;
                margin-left: -4px;
            }

            &_foto1 {
                margin-top: 52px;
                margin-left: 191px;
            }

            &_avatar_1 {
                margin-left: 276px;
            }

            &_avatar_2 {
                margin-top: -287px;
                margin-left: 439px;
            }

            &_info_1 {
                margin-left: 140px;
            }

            &_info3_1 {
                margin-left: 323px;
            }

            &_info4_1 {
                width: 236px;
                margin-left: 248px;
            }

            &_foto3 {
                width: 300px;
                height: 300px;
            }

            &_avatar3_1 {
                margin-top: 27px;
                margin-left: 446px;
            }

            &_info_2 {
                margin-top: 40px;
                margin-left: 131px;
            }

            &_info6_1 {
                width: 236px;
                margin-top: 23px;
                margin-left: 258px;
            }

            &_see {
                margin-top: -47px;
            }

            &_see1 {
                margin-left: 289px;
            }
        }

        .container {
            width: 95%;
            margin-left: -17px;

            .discover {
                margin-top: -23px;
                margin-left: 82px;
                font-size: 22px;
            }

            .row {
                width: 90%;
                margin-left: 10px;
            }

            .col-xl-4-left {
                margin-left: 0;
            }

            .sport {
                display: none;
            }

            .sport1 {
                display: block;
                margin-top: 0;
            }

            .heal {
                display: none;
            }

            .heal1 {
                display: block;
                float: right;
                margin-top: -311px;
                margin-right: 112px;
            }

            .extreme {
                display: none;
            }

            .extreme1 {
                display: block;
                margin-top: -310px;
                margin-left: 513px;
            }

            .row.centr {
                width: 105%;
                margin-top: 44px;
                margin-left: 11px;

                .col-xl-4-1 {
                    width: 220px;
                }

                .col-xl-8 {
                    width: 500px;
                }
            }

            .games {
                display: none;
            }

            .games1 {
                display: block;
                margin-top: -24px;
                margin-right: 50px;
            }

            .culture {
                display: none;
            }

            .culture1 {
                display: block;
                margin-top: -24px;
                margin-right: -39px;
                float: right;
            }

            .row.end {
                width: 80%;
                margin-left: 11px;
                display: flex;
                flex-wrap: nowrap;

                .col-xl-4-2 {
                    margin-left: 20px;
                }
            }

            .cc {
                display: none;
            }

            .cc1 {
                display: block;
            }

            .gc {
                display: none;
            }

            .gc1 {
                display: block;
            }

        }

        .info_1_creat {
            font-size: 22px;
            margin-top: 95px;
            margin-left: 0;
        }

        .info_1_mail {
            margin-top: 2px;
        }

        .info_1_search1 {
            margin-top: -5.15%;
            margin-left: 59%;
        }

        .info_1_search2 {
            letter-spacing: 0.4px;
        }
    }

    footer {

        .footer_dreamshare {
            margin-left: 39px;
        }

        ul {
            margin-left: 110px;
        }

        .par {
            margin-left: 39px;
        }

        .areto {
            float: right;
            margin-top: -202px;
            margin-right: 30px;
        }
    }
}

@media screen and (max-width: 320px) {

    body {
        width: 320px;
    }
    header {
        width: 100%;
        margin-top: -500px;
        margin-left: 5px;
    }

    .head {
        width: 98%;
        height: 550px;
        margin-left: 4px;
        background: url(../img/Headaer1.png)no-repeat;
    }

    .head_block {
        width: 82%;
        margin-left: 46px;
    }
    .head_dream {
        margin-top: 151px;
        margin-left: 44px;
    }

    .head_dream1 {
        padding-top: 152px;
        margin-left: -3px;
    }


    .head_log {
        margin-left: 48px;
    }
    .head_log1 {
        margin-top: -157px;
        margin-left: -15px;
    }

    .head_logo {
        margin-left: 0;
    }
    .head_logo1 {
        width: 272px;
        margin-left: -22px;
        font-size: 30px;
    }

    .head_info {
        width: 265px;
        text-align: center;
        margin-top: -4px;
        margin-left: -18px;
        font-size: 18px;
    }

    .head_find {
        width: 279px;
        margin-top: 13px;
        margin-left: -23px;
    }

    aside {
        width: 320px;

        .side_how1 {
            width: 298px;
            margin-top: 25px;
            margin-left: 11px;
        }

        .side_img-1, .side_img1-1 {
            display: none;
        }

        .side_img {
            width: 318px;
            height: 100%;
            margin-left: -10px;
        }

        .side_img1_2 {
            display: block;
            margin-top: -19px;
            margin-left: 20px;
        }

        .side_img2, .side_img2-1 {
            display: none;
        }

        .side_img2_2 {
            height: 240px;
            display: block;
            margin-top: 231px;
            margin-left: -300px;
        }

        .side_img3, .side_img3-1 {
            display: none;
        }

        .side_img3-2 {
            display: block;
            margin-top: 481px;
            margin-left: -300px;
        }

        .side1 p {
            margin-top: 36px;
            margin-left: 6px;
            text-align: center;
            line-height: 27px;
        }

        .side1_foto {
            margin-top: -2px;
            margin-left: 95px;
        }

        .side1_music1 {
            margin-left: 181px;
        }

        .side1_info {
            margin-left: 41px;
        }

        .side1_avatar_1 {
            margin-top: -36px;
            margin-left: 180px;
            display: block;
        }
        .side1_avatar_2 {
            margin-top: -70px;
            margin-left: 87px;
        }

        .side1_shape_11 {
            margin-bottom: -4px;
        }
        .side1_info_1 {
            margin-top: 46px;
            margin-left: 44px;
        }

        .side1_info3_1 {
            margin-top: -23px;
            margin-left: 67px;
        }

        .side1_info4_1 {
            margin-left: -7px;
        }

        .side1_foto1 {
            margin-top: 255px;
            margin-left: 95px;
            display: block;
        }

        .side1_foto2 {
            margin-top: -502px;
            margin-left: 103px;
        }

        .side1_foto3 {
            display: block;
        }

        .side1_avatar3_1 {
            margin-top: 231px;
            margin-left: 94px;
        }

        .side1_info_2 {
            margin-left: 40px;
        }

        .side1_info5_1 {
            margin-top: -22px;
            margin-left: 46px;
        }

        .side1_info6_1 {
            margin-top: 21px;
            margin-left: -3px;
        }

        .side1_see {
            margin-top: 152px;
        }

        .side1_see1 {
            width: 280px;
            margin-top: 18px;
            margin-left: 15px;
        }

        .container {
            margin-top: 480px;
            margin-left: 5px;

            .discover {
                margin-left: 6px;
            }

            .sport, .sport1, .heal, .heal1, .extreme, .extreme1, .games, .games1, .culture, .culture1, .cc, .cc1, .gc, .gc1 {
                display: none;
            }

            .row {
                margin-top: -62px;
                margin-left: -9px;
            }

            .sport2 {
                display: block;
            }

            .heal2 {
                margin-top: 10px;
                margin-left: -20px;
                display: block;
            }

            .extreme2 {
                display: block;
                margin-top: 10px;
                margin-left: -1px;
            }

            .games2 {
                display: block;
                margin-top: 10px;
                margin-left: 0;
            }

            .row.centr {
                margin-top: 0;
                margin-left: -10px;
            }

            .culture2 {
                display: block;
                margin-top: 10px;
                margin-left: -18px;
            }

            .row.end {
                flex-wrap: wrap;
            }
            .cc2 {
                display: block;
                margin-top: -10px;
                margin-left: -21px;
            }

            .gc2 {
                display: block;
                margin-top: 10px;
                margin-left: -41px;
            }
        }

        .info_1_creat {
            width: 250px;
            margin-top: 36px;
            margin-left: 35px;
        }

        .info_1_hi {
            margin-top: 16px;
        }

        .info_1_mail {
            margin-top: -10px;
            margin-left: 203px;

            input {
                width: 280px;
                margin-left: -203px;
            }
        }

        .info_1_search1 {
            width: 281px;
            margin-top: 2.85%;
            margin-left: 6.2%;
            padding-top: 3px;
        }

        .info_1_search2 {
            margin-top: 5px;
            margin-left: 10px;
        }

        hr {
            margin-top: 41px;
        }
    }

    footer {
        .footer_dreamshare {
            margin-top: 7px;
            margin-left: 102px;
        }

        ul{
            .footer_com {
                margin-top: -11px;
                margin-left: 15px;
            }

            li {
                display: block;
            }

            .about {
                margin-top: -7px;
                margin-left: -45px;
            }

            .contact {
                margin-top: -27px;
                margin-left: 5px;
            }

            .pres {
                margin-top: -27px;
                margin-left: 68px;
            }

            .blog {
                margin-top: -27px;
                margin-left: 116px;
            }

            .terms {
                margin-top: 2px;
                margin-left: -28px;
            }

            .help {
                margin-top: -27px;
                margin-left: 99px;
            }    
        }

        .par {
            margin-top: -11px;
            margin-left: 127px;
        }
        .areto {
            // float: none;
            margin-top: 2px;
            margin-right: 95px;
        }
    }

}